.toolbar {
    background-color: #69349A;
    font-family: "Ubuntu";
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    text-align: center;
    height: 70.95px;
}

.toolbar-title {
    font-size: xx-large;
    color: white;
    text-decoration: none;
    display: block;
}

.toolbar-title-text {
    display: inline-block;
    vertical-align: super;
    font-size: xx-large;
    font-weight: normal;
}